<div class="item">
    <h4><a href="{{link}}">{{title}}</a></h4>
    <p class="share-info">Shared <span class="share-time" data-timestamp="{{timestamp}}">{{getDate timestamp 'ddd, MMM D, YY [at] h:mmA'}}</span> by <span class="sharer">{{sharer}}</span></p>
    <p>{{description}}</p>
</div>
